{% extends 'mailings/index.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
{% if user.is_staff %}
    <a class="btn mb-3 btn-lg btn-block btn-outline-primary" href="{% url 'blogs:blog_create'%}"
       role="button">Добавить запись</a>
{% endif %}
    </div>
<div class="container">
    <div class="row text-left">
        <h4>Статистика сайта</h4>
        <p>Количество рассылок всего: {{ mailing_count }}</p>
        <p>Количество активных рассылок: {{ active_mailing_count }}</p>
        <p>Количество уникальных клиентов для рассылок: {{ unique_clients_count }}</p>
    </div>
 <div class="container">
    <div class="row text-center">
        {% for object in random_blogs %}
        <div class="col-4">
            <div class="card mb-4 box-shadow"  style="height: 300px">
                {% if object.preview %}
                <img class = "rounded float-start" style="height: 300px" src="{{ object.image | media_filter }}">
                {% endif %}
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ object.title }}</h3>
                </div>
                <div class="card-body">
                    <div class="mb-1 text-body-secondary">{{ object.created_at }}</div>
                    <div class="mb-1 text-body-secondary">Количество просмотров: {{ object.count_views }}</div>
                    <p class="card-text mb-auto">{{ object.content | truncatechars:150 }}</p>
                    <a class="btn btn-primary" role="button" href="{% url 'blogs:blog_info' object.slug %}">Подробнее</a>
                    {% if user.is_staff %}
                        <a class="btn btn-primary" role="button" href="{% url 'blogs:blog_update' object.slug %}">Редактировать</a>
                        <a class="btn btn-danger" role="button" href="{% url 'blogs:blog_delete' object.slug %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
         </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
