{% extends 'mailings/index.html' %}
{% load my_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal">Рассылка создана: {{ mailing.datetime }}</h5>
                    <h6 class="my-0 font-weight-normal">Владелец рассылки: {{ mailing.owner_mailing }}</h6>
                    <h6 class="my-0 font-weight-normal">Сообщение рассылки: {{ mailing.message }}</h6>
                    <h6 class="my-0 font-weight-normal">Периодичность рассылки: {{ mailing.frequency }}</h6>


                </div>
                <div class="card-body">
                    <h6 class="card-title pricing-card-title">Статус рассылки: {{ mailing.status }}</h6>
                    {% if object.is_active == True %}
                    <h6 class="card-title pricing-card-title">Актуальность рассылки: Активна</h6>
                    {% else %}
                    <h6 class="card-title pricing-card-title">Актуальность рассылки: Неактивна</h6>
                    {% endif %}
                    <a class="btn btn-primary" role="button"
                       href="{% url 'mailings:mailing_list' %}">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

