{% extends 'mailings/index.html' %}
{% load my_tags %}
{% load static %}
{% block content %}

<div class="row text-center">
    {% if not perms.mailings.View_any_mailing_lists %}
    <a class="btn mb-3 btn-lg btn-block btn-outline-primary" href="{% url 'mailings:message_create'%}"
       role="button">Добавить сообщение</a>
   {% endif %}
    <div class="container">
        <div class="row text-center">
            {% for object in object_list %}
            {% if perms.mailings.View_any_mailing_lists or user == object.owner_message %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h6 class="my-0 font-weight-normal">Тема: {{object.subject}}</h6>
                        <h6 class="my-0 font-weight-normal">Сообщение: {{object.message | truncatechars:40}}</h6>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <a class="btn mb-1 btn-lt btn btn-primary" role="button"
                               href="{% url 'mailings:message_info' object.pk %}">Подробнее</a>
                            {% if user == object.owner_message %}
                            <a class="btn mb-1 btn-lt btn btn-primary" role="button"
                               href="{% url 'mailings:message_update' object.pk %}">Редактировать</a>
                            <a class="btn mb-1 btn-lt btn btn-danger" role="button"
                               href="{% url 'mailings:message_delete' object.pk %}">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
